<%= form_for(@club) do |f| %>
  <%= render 'shared/error_messages' %>

  <div class="row">
  <div class="span6 offset3">

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :short_name %>
    <%= f.text_field :short_name %>

    <%= f.label :address %>
    <%= f.text_field :address %>

    <%= f.label :postal4 %>
    <%= f.text_field :postal4 %>

    <%= f.label :postal3 %>
    <%= f.text_field :postal3 %>

    <%= f.label :city %>
    <%= f.text_field :city %>

    <%= f.label :municipality_id %>
    <%= f.collection_select :municipality_id, Municipality.all, :id, :name, :selected => (@club.municipality_id ? @club.municipality_id : 3) %>

    <%= f.label :phone %>
    <%= f.text_field :phone %>

   <% if @club.new_record? %>
        <%= f.label :email %>
        <%= f.text_field :email %>
    <% else %>
        <%= f.label :email %>
        <%= f.text_field :email, :disabled => @club.email.present? %>
    <% end %>

    <%= f.label :president %>
    <%= f.text_field :president %>

    <%= f.label :url %>
    <%= f.text_field :url %>

   <% unless @club.new_record? %>
        <%= f.label :active %>
        <%= f.check_box :active %>
    <% end %>

<% # CSH alterar para permitir que o admin crie clubes %>
    <% if @club.new_record? %>
        <% if is_admin? %>
            <%= f.label :association_id %>
            <%= f.collection_select :association_id, Association.all, :id, :name, :selected => @club.association_id %>
        <% elsif is_association? %>
            <%= f.hidden_field :association_id, :value => Association.find_by( :user_id => current_user.id ).id  %>
        <% end %>
    <% else %>
        <% if is_admin? %>
            <%= f.label :association_id %>
            <%= f.collection_select :association_id, Association.all, :id, :name, :selected => @club.association_id %>
        <% end %>
    <% end %>

    <br/><br/>
    <%= f.submit "Gravar", class: "btn btn-sm btn-success" %>
    </div>
  </div>
<% end %>
