<% provide(:title, 'Clubes') %>
<h1>Clubes</h1>

<%= puts "!!!!!!!!!!!!!#{@clubs.length}========" %>
<% if @clubs.length > 0 %>
  <table class="table">
    <thead>
      <tr>
        <th>Sigla</th>
        <th>Designação</th>
        <th>Concelho</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @clubs.each do |club| %>
        <tr>
          <td><%= club.short_name %></td>
          <td><%= club.name %></td>
          <td><%= Municipality.find( club.municipality_id).name %></td>

          <td>
            <%= link_to 'Ver', club, class: "btn btn-group-sm btn-info" %>
            <%= link_to 'Editar', edit_club_path(club), class: "btn btn-group-sm btn-success" %>
            <% if is_admin? %>
              <%= link_to 'Apagar', club, method: :delete, data: { confirm: 'Tem a certeza?' }, class: "btn btn-group-sm btn-danger" %>
            <% end %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate %>
<% else %>
  Ainda não possui clubes.
  <br/>
  <br/>
  Clique no botão "Novo Clube" e inicie a sua actividade federativa!
  <br/>
<% end %>


<br>
<% if is_association? %>
  <%= link_to 'Novo Clube', new_club_path, class: "btn btn-group-sm btn-success" %>
<% end %>
