
<% provide(:title, "Clube: #{@club.short_name}" ) %>

  <%= render 'layouts/inner_error_messages', {:msg => @club} %>

  <h1><%= @club.short_name %></h1>

  <div class="form" style="display:block;">

<%= form_for(@club, :html => { :class => "form-horizontal" }) do |f| %>
  <div class="form-left">

    <%= f.label :name %>
    <%= f.text_field :name, :disabled => 'disabled' %>

    <%= f.label :address %>
    <%= f.text_field :address, :disabled => 'disabled' %>

    <%= f.label :postal4 %>
    <%= f.text_field :postal4, :disabled => 'disabled' %>

    <%= f.label :postal3 %>
    <%= f.text_field :postal3, :disabled => 'disabled' %>

    <%= f.label :city %>
    <%= f.text_field :city, :disabled => 'disabled' %>

    <%= f.label :municipality_id %>
    <%= f.text_field :municipality_id, :value => "#{Municipality.find( @club.municipality_id ).name}", :disabled => 'disabled' %>

    <%= f.label :phone %>
    <%= f.text_field :phone, :disabled => 'disabled' %>

    <%= f.label :email %>
    <%= f.text_field :email, :disabled => 'disabled' %>

    <%= f.label :president %>
    <%= f.text_field :president, :disabled => 'disabled' %>

    <%= f.label :url %>
    <%= f.text_field :url, :disabled => 'disabled' %>

    <%= f.label :active %>
    <%= f.check_box :active, :disabled => 'disabled' %>


    <br/><br/>

    <%= link_to "<span class='glyphicon glyphicon-edit'></span>".html_safe, edit_club_path(@club), class: "btn btn-group-md btn-success", title: "Editar" %>
    <%= link_to '<span class="glyphicon glyphicon-th-list"></span>'.html_safe, clubs_path, class: "btn btn-group-md btn-info", title: 'Voltar Atrás' %>
    </div>
<% end %>

     <div class="form-right">
      <%= render 'athletes/shortform' %>

      <br/>

        <div class="panel-group" id="accordion">

          <%
          if params[:qnameasc] or params[:qnamedesc]
            open1 = ""
            open2 = ""
            open3 = ""
          end
          if params[:qnameasc] or params[:qnamedesc]
            open1 = ""
            open2 = ""
            open3 = ""
          end
          %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  Atletas <span class="badge"><%= @atletas.count %></span>
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse fade in">
              <div class="panel-body bs-callout bs-callout-warning" style="padding:5px;">
                <%= render 'athletes/athletes_list' %>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                  Treinadores <span class="badge">1</span>
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse ">
              <div class="panel-body">
                bla bla
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                  Quotas <span class="badge" style="background-color:red"><%= @club_fees.count %></span>
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse ">
              <div class="panel-body">
                <%= render 'club_fee_issues/club_fee_list' %>
              </div>
            </div>
          </div>

        </div>
     </div>
  </div>
