<% provide(:title, 'Categorias de Treinador') %>
<h1>Categorias de Treinador</h1>

<table class="table">
  <thead>
    <tr>
      <th>Categoria</th>
      <th>Ordem</th>
      <th>Activo</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @coach_categories.each do |coach_category| %>
      <tr>
        <td><%= coach_category.name %></td>
        <td><%= coach_category.order %></td>
        <td>
            <span class="glyphicon glyphicon-ok" style="color:<%= coach_category.active ? "green" : "red" %>"></span>
        </td>

        <td class="tabButtons">
          <%= link_to '<span class="glyphicon glyphicon-eye-open"></span>'.html_safe, coach_category, class: "btn btn-group-md btn-info", title: "Ver" %>
          <%= link_to "<span class='glyphicon glyphicon-edit'></span>".html_safe, edit_coach_category_path(coach_category), class: "btn btn-group-md btn-success", title: "Editar" %>
          <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, coach_category, method: :delete, data: { confirm: 'Tem a certeza?' }, class: "btn btn-group-md btn-danger", title: "Apagar" %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>

<br>

<%= link_to '<span class="glyphicon glyphicon-plus"></span> Nova Categoria de Treinador'.html_safe, new_coach_category_path, class: "btn btn-group-md btn-success", title: "Nova Categoria de Treinador" %>
