<% provide(:title, "Categoria: #{@coach_category.name}" ) %>

<%= form_for(@coach_category, :html => { :class => "form-horizontal" }) do |f| %>
  <%= render 'layouts/inner_error_messages', {:msg => @coach_category} %>

  <h1><%= @coach_category.name %></h1>

  <div class="form-single">

    <%= f.label :order, "Ordem" %>
    <%= f.text_field :order, :disabled => 'disabled' %>

    <%= f.label :active, "Activa" %>
    <%= f.check_box :active, :disabled => 'disabled' %>

    <br/><br/>

    <%= link_to "<span class='glyphicon glyphicon-edit'></span>".html_safe, edit_coach_category_path(@coach_category), class: "btn btn-group-md btn-success", title: "Editar" %>
    <%= link_to '<span class="glyphicon glyphicon-th-list"></span>'.html_safe, coach_categories_path, class: "btn btn-group-md btn-info", title: 'Voltar Atrás' %>

  </div>
<% end %>

