<% provide(:title, 'Quotas Associativas') %>
<h1>Quotas Associativas</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Ano Validade</th>
      <th>Valor</th>
      <th>Total?</th>
      <th>Activo</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @association_fees.each do |association_fee| %>
      <tr>
        <td><%= association_fee.name %></td>
        <td><%= association_fee.valid_year %></td>
        <td><%= association_fee.value %></td>
        <td><%= association_fee.is_total %></td>
        <td>
            <span class="glyphicon glyphicon-ok" style="color:<%= association_fee.active ? "green" : "red" %>"></span>
        </td>
        <td class="tabButtons">
          <%= link_to '<span class="glyphicon glyphicon-eye-open"></span>'.html_safe, association_fee, class: "btn btn-group-md btn-info", title: "Ver" %>
          <%= link_to "<span class='glyphicon glyphicon-edit'></span>".html_safe, edit_association_fee_path(association_fee), class: "btn btn-group-md btn-success", title: "Editar" %>
          <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, association_fee, method: :delete, data: { confirm: 'Tem a certeza?' }, class: "btn btn-group-md btn-danger", title: "Apagar" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>

<br>

<%= link_to '<span class="glyphicon glyphicon-plus"></span> Nova Quota Associativa'.html_safe, new_association_fee_path, class: "btn btn-group-md btn-success", title: "Nova Quota Associativa" %>
