<% provide(:title, 'Quotas Associativas') %>
<h1>Quotas Associativas</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Ano Validade</th>
      <th>Valor</th>
      <th>Total?</th>
      <th>Activo</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @association_fees.each do |association_fee| %>
      <tr>
        <td><%= association_fee.name %></td>
        <td><%= association_fee.valid_year %></td>
        <td><%= association_fee.value %></td>
        <td><%= association_fee.is_total %></td>
        <td><%= association_fee.active %></td>
        <td>
          <%= link_to 'Ver', association_fee, class: "btn btn-group-sm btn-info" %>
          <%= link_to 'Editar', edit_association_fee_path(association_fee), class: "btn btn-group-sm btn-success" %>
          <%= link_to 'Apagar', association_fee, method: :delete, data: { confirm: 'Tem a certeza?' }, class: "btn btn-group-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>

<br>

<%= link_to 'Nova Quota Associativa', new_association_fee_path, class: "btn btn-group-sm btn-success" %>
