<%= form_for(@referee_category) do |f| %>

  <%= render 'shared/error_messages' %>

  <div class="row">
    <div class="span6 offset3">

      <%= f.label :name, "Categoria" %>
      <%= f.text_field :name %>

      <%= f.label :order, "Ordem" %>
      <%= f.text_field :order %>

      <%= f.label :active, "Activo" %>
      <%= f.check_box :active %>

      <br/><br/>

      <%= f.submit "Gravar", class: "btn btn-sm btn-success" %>
    </div>
  </div>


<% end %>
