<% provide(:title, 'Todos os utilizadores') %>
<h1>Todos os utilizadores</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Tipo</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.tipo %></td>
        <td>
          <nobr>
          <%= link_to '<span class="glyphicon glyphicon-eye-open"></span>'.html_safe, user, class: "btn btn-group-md btn-info", title: "Ver" %>
          <% if is_admin? %>
            <%= link_to "<span class='glyphicon glyphicon-edit'></span>".html_safe, edit_user_path(user), class: "btn btn-group-md btn-success", title: "Editar" %>
          <% end %>
          <% if is_admin? && !current_user?(user) %>
            <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, user, method: :delete, data: { confirm: 'Tem a certeza?' }, class: "btn btn-group-md btn-danger", title: "Apagar" %>
          <% end %>
          </nobr>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>

<br>

<%= link_to '<span class="glyphicon glyphicon-plus"></span> Nova Região'.html_safe, new_user_path, class: "btn btn-group-md btn-success", title: "Nova Região" %>
