<% provide(:title, 'Todos os utilizadores') %>
<h1>Todos os utilizadores</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Tipo</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.tipo %></td>
        <td>
          <%= link_to 'Ver', user, class: "btn btn-group-sm btn-info" %>
          <% if is_admin? %>
          <%= link_to 'Editar', edit_user_path(user), class: "btn btn-group-sm btn-success" %>
          <% end %>
          <% if is_admin? && !current_user?(user) %>
          <%= link_to 'Apagar', user, method: :delete, data: { confirm: 'Tem a certeza?' },
                  class: "btn btn-group-sm btn-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>

<br>

<%= link_to 'Novo Utilizador', new_user_path, class: "btn btn-group-sm btn-success" %>
