<% provide(:title, @user.email) %>

<%= form_for(@user) do |f| %>
  <h1><%= @user.name %></h1>

  <div class="row">
    <div class="span6 offset3">

    <%= f.label :name, "Nome" %>
    <%= f.text_field :name, :disabled => 'disabled' %>

    <%= f.label :email, "Email" %>
      <%= f.text_field :email, :disabled => 'disabled' %>

      <%= f.label :tipo %>
      <%= f.number_field :tipo, :disabled => 'disabled' %>


    <%= link_to 'Editar', edit_user_path(@user), class: "btn btn-group-sm btn-info" %>
    <%= link_to 'Voltar Atrás', users_path, class: "btn btn-group-sm btn-info" %>
    </div>
  </div>
<% end %>
