<table class="table">
  <thead>
    <tr>
      <th><%= link_to "FNKP" , if params[:orderby] =='fnkpasc' then '?orderby=fnkpdesc' else '?orderby=fnkpasc' end %></th>
      <th><%= link_to "Nome" , if params[:orderby] =='nameasc' then '?orderby=namedesc' else '?orderby=nameasc' end %></th>
      <th><%= link_to "Sexo" , if params[:orderby] =='sexasc' then '?orderby=sexdesc' else '?orderby=sexasc' end %></th>
      <th><%= link_to "Nascimento" , if params[:orderby] =='dtasc' then '?orderby=dtdesc' else '?orderby=fnkpasc' end %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @atletas.each do |athlete| %>
      <tr <%= "style='background:#f1f1f1'".html_safe unless athlete.active %> >
        <td><%= link_to athlete.fnkp_code, athlete, class: "btn btn-group-sm btn-info" %></td>
        <td><%= "#{athlete.short_name}".downcase %></td>
        <td><%= athlete.sex.first.upcase %></td>
        <td><%= athlete.birthdate %></td>

        <td>
          <nobr>
          <%= link_to "<span class='glyphicon glyphicon-edit'></span>".html_safe, edit_athlete_path(athlete) + "?clubdetail=1", class: "btn btn-success btn-group-xxs", title: "Editar" %>
          <% if is_admin? %>
            <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, athlete_path( athlete.id ) + "?clubdetail=1", method: :delete, data: { confirm: 'Tem a certeza?' }, class: "btn btn-danger btn-group-xxs", title: "Apagar" %>
          <% end %>
          </nobr>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

