<%= form_for(@athlete) do |f| %>
  <%= render 'shared/error_messages' %>

  <div class="row">
    <div class="span6 offset3">

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :fnkp_code %>
      <%= f.text_field :fnkp_code %>

      <%= f.label :cc_code %>
      <%= f.text_field :cc_code %>

      <%= f.label :birthdate %><br>
      <%= f.date_select :birthdate , {:order => [:day, :month, :year], :start_year => 80.years.ago.year, :end_year => 1.year.ago.year, :use_two_digit_numbers => true}, {:class => 'date_select'} %>
<br/><br/>

      <%= f.label :sex %>
      <fieldset class="radio_horizontal">
      <%= f.radio_button :sex, 'male' %>
      <%= f.label :sex, "Masculino", :value => 'male' %>
      <%= f.radio_button :sex, 'female' %>
      <%= f.label :sex, "Feminino", :value => 'female' %>
      </fieldset>
<br/>
      <%= f.label :club_id %>
      <%= f.collection_select :club_id, Club.all, :id, :name, {:selected => (@athlete.club.present? and @athlete.club.id), :required => true} %>
<br/><br/>
      <%= f.label :national %>
      <%= f.check_box :national %>

      <% unless @athlete.new_record? %>
        <%= f.label :active %>
        <%= f.check_box :active %>
      <% end %>

      <br/><br/>

      <%= f.submit "Gravar", class: "btn btn-md btn-success" %>
    </div>
  </div>
<% end %>
