  <%= render 'shared/error_messages' %>

<%= form_for(@athlete) do |f| %>

<div  style="background: #eaeaea; padding:10px; border: 1px solid #999">
  <div >
    <% if is_admin? %>
    <div class="form-col2">
      <%= f.label :fnkp_code ,"FNKP" %>
      <%= f.text_field :fnkp_code %>
    </div>
    <% end %>

    <div class="form-col6">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="form-col4">
      <%= f.label :cc_code, "CC" %>
      <%= f.text_field :cc_code %>
      <%= hidden_field_tag :shortform, true %>
    </div>
  </div>
<br/>
  <div style="">
    <div class="form-col5">
      <%= f.label :birthdate %><br>
      <%= f.date_select :birthdate , {:order => [:day, :month, :year], :start_year => 80.years.ago.year, :end_year => 1.year.ago.year, :use_two_digit_numbers => true}, {:class => 'date_select'} %>
    </div>

    <div class="form-col3">
      <%= f.label :sex %>
      <fieldset class="radio_horizontal">
      <%= f.radio_button :sex, 'male', :checked => (true if @athlete.sex == 'male' or !@athlete.sex.present? ) %>
      <%= f.label :sex, "M", :value => 'male' %>
      <%= f.radio_button :sex, 'female', :checked => (true if @athlete.sex == 'female' ) %>
      <%= f.label :sex, "F", :value => 'female' %>
      </fieldset>
    </div>

    <div class="form-col1">
      <%= f.label :national, "Português?" %>
      <%= f.check_box :national, :checked => (true if @athlete.national == true or !@athlete.national.present? ) %>
    </div>

  </div

<br/><br/>

  <div class="form">
    <%= f.hidden_field :club_id  %>
    <%= f.submit "Gravar", class: "btn btn-md btn-success" %>
  </div>
</div>
<% end %>
