<% provide(:title, 'Atletas') %>
<h1>Atletas</h1>

<table class="table">
  <thead>
    <tr>
      <th>Cod. FNKP</th>
      <th>Nome</th>
      <th>Sexo</th>
      <th>Nascimento</th>
      <th>Activo</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @athletes.each do |athlete| %>
      <tr>
        <td><%= athlete.fnkp_code %></td>
        <td><%= athlete.name %></td>
        <td><%= athlete.sex %></td>
        <td><%= athlete.birthdate %></td>
        <td><%= athlete.active %></td>

        <td>
          <%= link_to 'Ver', athlete, class: "btn btn-group-sm btn-info" %>
          <%= link_to 'Editar', edit_athlete_path(athlete), class: "btn btn-group-sm btn-success" %>
          <% if is_admin? %>
            <%= link_to 'Apagar', athlete, method: :delete, data: { confirm: 'Tem a certeza?' }, class: "btn btn-group-sm btn-danger" %>
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>

<br>

<%= link_to 'Novo Atleta', new_athlete_path, class: "btn btn-group-sm btn-success" %>
