<% if @user.present? and @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      Contém <%= pluralize(@user.errors.count, "erro") %>.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if @referee_category.present? and @referee_category.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      Contém <%= pluralize(@referee_category.errors.count, "erro") %>.
    </div>
    <ul>
    <% @referee_category.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if @referee.present? and @referee.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      Contém <%= pluralize(@referee.errors.count, "erro") %>.
    </div>
    <ul>
    <% @referee.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if @referee_path.present? and @referee_path.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      Contém <%= pluralize(@referee_path.errors.count, "erro") %>.
    </div>
    <ul>
    <% @referee_path.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if @coach_category.present? and @coach_category.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      Contém <%= pluralize(@coach_category.errors.count, "erro") %>.
    </div>
    <ul>
    <% @coach_category.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if @coach.present? and @coach.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      Contém <%= pluralize(@coach.errors.count, "erro") %>.
    </div>
    <ul>
    <% @coach.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if @coach_path.present? and @coach_path.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      Contém <%= pluralize(@coach_path.errors.count, "erro") %>.
    </div>
    <ul>
    <% @coach_path.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<% if @graduation.present? and @graduation.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      Contém <%= pluralize(@graduation.errors.count, "erro") %>.
    </div>
    <ul>
    <% @graduation.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<% if @club.present? and @club.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      Contém <%= pluralize(@club.errors.count, "erro") %>.
    </div>
    <ul>
    <% @club.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if @club_fee.present? and @club_fee.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      Contém <%= pluralize(@club_fee.errors.count, "erro") %>.
    </div>
    <ul>
    <% @club_fee.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if @club_fee_issue.present? and @club_fee_issue.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      Contém <%= pluralize(@club_fee_issue.errors.count, "erro") %>.
    </div>
    <ul>
    <% @club_fee_issue.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if @athlete.present? and @athlete.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      Contém <%= pluralize(@athlete.errors.count, "erro") %>.
    </div>
    <ul>
    <% @athlete.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if @association.present? and @association.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      Contém <%= pluralize(@association.errors.count, "erro") %>.
    </div>
    <ul>
    <% @association.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<% if @association_fee.present? and @association_fee.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      Contém <%= pluralize(@association_fee.errors.count, "erro") %>.
    </div>
    <ul>
    <% @association_fee.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<% if @association_fee_issue.present? and @association_fee_issue.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      Contém <%= pluralize(@association_fee_issue.errors.count, "erro") %>.
    </div>
    <ul>
    <% @association_fee_issue.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
