<%= form_for(@association_fee_issue) do |f| %>

  <%= render 'shared/error_messages' %>

  <div class="row">
    <div class="span6 offset3">

      <%= f.label :association_id %>
      <%= f.collection_select :association_id, Association.all, :id, :name, {:selected => (@association_fee_issue.association_id.present? and @association_fee_issue.association_id), :required => true} %>

      <%= f.label :association_fee_id %>
      <%= f.collection_select :association_fee_id, AssociationFee.all, :id, :name, {:selected => (@association_fee_issue.association_fee_id.present? and @association_fee_issue.association_fee_id), :required => true} %>

      <%# f.label :date_acomplished %>
      <%# f.date_select :date_acomplished , {:order => [:day, :month, :year], :start_year => 0.years.ago.year, :end_year => 18.year.ago.year, :use_two_digit_numbers => true}, {:class => 'date_select'} %>

      <br/><br/>

      <%= f.submit "Gravar", class: "btn btn-md btn-success" %>
    </div>
  </div>
<% end %>
