<p id="notice"><%= notice %></p>

<p>
  <strong>Club fee:</strong>
  <%= @club_fee_issue.club_fee %>
</p>

<p>
  <strong>Club:</strong>
  <%= @club_fee_issue.club %>
</p>

<p>
  <strong>Value:</strong>
  <%= @club_fee_issue.value %>
</p>

<p>
  <strong>Valid year:</strong>
  <%= @club_fee_issue.valid_year %>
</p>

<%= link_to 'Edit', edit_club_fee_issue_path(@club_fee_issue) %> |
<%= link_to 'Back', club_fee_issues_path %>
