<%= form_for(@order) do |f| %>
  <%= render 'shared/order_error_messages' %>

  <div class="row">
    <div class="span6 offset3">

      <%= f.label :name, "Designação" %>
      <%= f.text_field :name, value: "Nota de #{DateTime.now.strftime("%Y-%m-%d")}" %>

      <%= f.submit "Gravar", class: "btn btn-sm btn-success" %>
    </div>
  </div>


<% end %>
