<% provide(:title, 'Notas de Encomenda') %>
<h1>Notas de Encomenda</h1>

<table class="table">
  <thead>
    <tr>
      <th>Designação</th>
      <th>Total</th>
      <th>Estado</th>
      <th>Data</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.total_value %></td>
        <td><%= order.state %></td>
        <td><%= order.state_date %></td>

        <td>
          <%= link_to 'Ver', order, class: "btn btn-group-sm btn-info" %>
          <% if is_admin? %>
          <%= link_to 'Editar', edit_order_path(order), class: "btn btn-group-sm btn-success" %>
          <% end %>
          <% # CSH falta colocar a associação das notas a associa/clubes e validação de só deixar ver /edit as proprias %>
          <% if is_admin?  %>
          <%= link_to 'Apagar', order, method: :delete, data: { confirm: 'Tem a certeza?' },
                  class: "btn btn-group-sm btn-danger" %>
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>

<br>

<%= link_to 'Nova Nota de Pagamento', new_order_path, class: "btn btn-group-sm btn-success" %>
