<% provide(:title, "Técnico de Arbitragem: #{@referee.official_name}" ) %>

<%= form_for(@referee, :html => { :class => "form-horizontal" }) do |f| %>
  <%= render 'shared/error_messages' %>

  <h1><%= @referee.fnkp_code %></h1>

  <div class="row">
  <div class="span6 ">

      <%= f.label :official_name %>
      <%= f.text_field :official_name, :disabled => 'disabled' %>

      <%= f.label :fnkp_code %>
      <%= f.text_field :fnkp_code, :disabled => 'disabled' %>

      <%= f.label :import_code %>
      <%= f.text_field :import_code, :disabled => 'disabled' %>

      <%= f.label :cc_code %>
      <%= f.text_field :cc_code, :disabled => 'disabled' %>

      <%= f.label :birthdate %>
      <%= f.text_field :birthdate, :disabled => 'disabled' %>

      <%= f.label :email %>
      <%= f.text_field :email, :disabled => 'disabled' %>

      <%= f.label :mobile %>
      <%= f.text_field :mobile, :disabled => 'disabled' %>

      <%= f.label :other_contact1 %>
      <%= f.text_field :other_contact1, :disabled => 'disabled' %>

      <%= f.label :other_contact2 %>
      <%= f.text_field :other_contact2, :disabled => 'disabled' %>

      <%= f.label :address %>
      <%= f.text_field :address, :disabled => 'disabled' %>

      <%= f.label :postal_code4 %>
      <%= f.text_field :postal_code4, :disabled => 'disabled' %>

      <%= f.label :postal_code3 %>
      <%= f.text_field :postal_code3, :disabled => 'disabled' %>

      <%= f.label :municipality_id %>
      <%= f.text_field :municipality, :value => "#{@referee.municipality.name}", :disabled => 'disabled' %>

      <%= f.label :notes %>
      <%= f.text_area :notes, :disabled => 'disabled' %>

      <%= f.label :active %>
      <%= f.check_box :active, :disabled => 'disabled' %>

    <br/><br/>

    <%= link_to 'Editar', edit_referee_path(@referee), class: "btn btn-group-sm btn-info" %>
    <%= link_to 'Voltar Atrás', referees_path, class: "btn btn-group-sm btn-info" %>
     </div>

     <div class="span6 ">
      <%= render 'referee_history' %>
     </div>
  </div>
<% end %>

