<% provide(:title, 'Concelho') %>
<h1>Concelho</h1>

<table class="table">
  <thead>
    <tr>
      <th>Concelho</th>
      <th>Distrito</th>
      <th>Activo</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @municipalities.each do |municipality| %>
      <tr>
        <td><%= municipality.name %></td>
        <td><%= municipality.district.name %></td>
        <td>
            <span class="glyphicon glyphicon-ok" style="color:<%= municipality.active ? "green" : "red" %>"></span>
        </td>

        <td class="tabButtons">
          <%= link_to '<span class="glyphicon glyphicon-eye-open"></span>'.html_safe, municipality, class: "btn btn-group-md btn-info", title: "Ver" %>
          <%= link_to "<span class='glyphicon glyphicon-edit'></span>".html_safe, edit_municipality_path(municipality), class: "btn btn-group-md btn-success", title: "Editar" %>
          <%# link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, district, method: :delete, data: { confirm: 'Tem a certeza?' }, class: "btn btn-group-md btn-danger", title: "Apagar" %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>

<br>

<%= link_to '<span class="glyphicon glyphicon-plus"></span> Novo Concelho'.html_safe, new_municipality_path, class: "btn btn-group-md btn-success", title: "Novo Concelho" %>
