<% provide(:title, 'Associações') %>
<h1>Associações</h1>

<table class="table">
  <thead>
    <tr>
      <th>Sigla</th>
      <th>Nome</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @associations.each do |association| %>
      <tr>
        <td><%= association.short_name %></td>
        <td><%= association.name %></td>

        <td class="tabButtons">
          <%= link_to '<span class="glyphicon glyphicon-eye-open"></span>'.html_safe, association, class: "btn btn-group-md btn-info", title: "Ver" %>
          <%= link_to "<span class='glyphicon glyphicon-edit'></span>".html_safe, edit_association_path(association), class: "btn btn-group-md btn-success", title: "Editar" %>
          <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, association, method: :delete, data: { confirm: 'Tem a certeza?' }, class: "btn btn-group-md btn-danger", title: "Apagar" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>

<br>

<%= link_to '<span class="glyphicon glyphicon-plus"></span> Nova Associação'.html_safe, new_association_path, class: "btn btn-group-md btn-success", title: "Nova Associação" %>
