<% provide(:title, 'Associações') %>
<h1>Associações</h1>

<table class="table">
  <thead>
    <tr>
      <th>Sigla</th>
      <th>Nome</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @associations.each do |association| %>
      <tr>
        <td><%= association.short_name %></td>
        <td><%= association.name %></td>
        <td style="text-align: right">
          <%= link_to 'Ver', association, class: "btn btn-group-sm btn-info" %>
          <%= link_to 'Editar', edit_association_path(association), class: "btn btn-group-sm btn-success" %>
          <%= link_to 'Apagar', association, method: :delete, data: { confirm: 'Tem a certeza?' },
                        class: "btn btn-group-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>

<br>

<%= link_to 'Nova Associação', new_association_path, class: "btn btn-group-sm btn-success" %>
