<%= form_for(@line_item) do |f| %>
  <%= render 'shared/order_error_messages' %>


  <div class="row">
    <div class="span6 offset3">

      <%= f.label :name, "Designação" %>
      <%= f.text_field :name %>

      <%= f.label :value, "Valor" %>
      <%= f.text_field :value %>
      <%= f.hidden_field :order_id, :value => (params[:order] or @line_item.order_id)  %>

      <%= f.submit "Gravar", class: "btn btn-md btn-success" %>
    </div>
  </div>

<% end %>
