<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "FNKP", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">

          <li><%= link_to "Início", root_path %></li>

          <% if signed_in? %>
            <li><%= link_to "Ajuda", help_path %></li>
          <% end %>

          <% if signed_in? %>

              <li id="fat-menu" class="dropdown">
                <a href="/" class="dropdown-toggle" data-toggle="dropdown">
                  Gestão<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                <% if is_admin? %>
                  <li><%= link_to "Utilizadores", users_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Requerimentos Pendentes", "#" %></li>
                  <li><%= link_to "Requerimentos", "#" %></li>
                  <li><%= link_to "Homologações Pendentes", "#" %></li>
                  <li><%= link_to "Homologações", "#" %></li>
                <% end %>
                  <li><%= link_to "Notas de pagamento", orders_path %></li>
                  <li><%= link_to "Items sem nota de pagamento", "#" %></li>
                  <li><%= link_to "Notas de pagamento sem referência", "#" %></li>
                  <li><%= link_to "Notas de pagamento com referência expirada", "#" %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Recibos", "#" %></li>
                </ul>
              </li>

            <% if is_admin? %>
              <li id="fat-menu" class="dropdown">
                <a href="/" class="dropdown-toggle" data-toggle="dropdown">
                  Configuração<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Quotas Associações", association_fees_path %></li>
                  <li><%= link_to "Quotas Clubes", "#" %></li>
                  <li><%= link_to "Quotas Praticantes/Treinadores", "#" %></li>
                  <li><%= link_to "Quotas Requerimentos", "#" %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Regiões", regions_path %></li>
                  <li><%= link_to "Distritos", districts_path %></li>
                  <li><%= link_to "Concelhos", municipalities_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Graduações", graduations_path %></li>
                  <li><%= link_to "Categorias de Árbitro", referee_categories_path %></li>
                  <li><%= link_to "Categorias de Treinador", coach_categories_path %></li>
                </ul>
              </li>
            <% end %>

            <li id="fat-menu" class="dropdown">
              <a href="/" class="dropdown-toggle" data-toggle="dropdown">
                Registos<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Associações", associations_path %></li>
                <li><%= link_to "Clubes", clubs_path %></li>
                <li><%= link_to "Atletas", athletes_path %></li>
                <% if is_admin? %>
                  <li><%= link_to "Treinadores", coaches_path %></li>
                <% else %>
                  <li><%= link_to "Treinadores", "#" %></li>
                <% end %>
                <% if is_admin? %>
                  <li><%= link_to "Técnicos Arbitragem", referees_path %></li>
                <% else %>
                  <li><%= link_to "Técnicos Arbitragem", "#" %></li>
                <% end %>
              </ul>
            </li>

            <li id="fat-menu" class="dropdown">
              <a href="/" class="dropdown-toggle" data-toggle="dropdown">
                Competição <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Nova competição", "#"%></li>
                <li><%= link_to "Competições", "#"%></li>
                <li class="divider"></li>
                <li><%= link_to "Sportdata", "http://www.sportdata.org/karate/"%></li>
              </ul>
            </li>

            <li id="fat-menu" class="dropdown">
              <a href="/" class="dropdown-toggle" data-toggle="dropdown">
                Formação <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Novo Curso", "#"%></li>
                <li><%= link_to "Cursos", "#"%></li>
                <li class="divider"></li>
                <li><%= link_to "Moodle", "http://moodle.fnkp.pt/moodle/"%></li>
              </ul>
            </li>


            <li id="fat-menu" class="dropdown">
              <a href="/" class="dropdown-toggle" data-toggle="dropdown">
                Perfil <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Perfil", current_user %></li>
                <li><%= link_to "Definições", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sair", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Entrar", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
